button[disabled] {
  background-color: var(--grey-25);
  border-color: var(--grey-25);
  color: var(--light);
  pointer-events: none;
}

button.addinfo {
  padding: 0;
  border: none;
  overflow: visible;
}

button.addinfo .add-text {
  color: var(--color);
  text-align: start;
}

button.addinfo:before {
  position: initial;
  -webkit-transform: initial;
      -ms-transform: initial;
          transform: initial;
  -webkit-filter: initial;
          filter: initial;
}

button.addinfo:hover .add-text,
button.addinfo:focus .add-text {
  display: block;
  pointer-events: all;
}

button,
.btn-std {
  color: var(--color);
  background-color: transparent;
}

a.btn-std {
  color: var(--color);
}

a.btn-std:hover,
a.btn-std:active {
  color: var(--grey-5);
}

a.btn-std circle[stroke],
a.btn-std path:not([fill-rule=evenodd]),
a.btn-std rect[stroke] {
  stroke: var(--main);
}

a.btn-std:hover circle[stroke],
a.btn-std:hover path:not([fill-rule=evenodd]),
a.btn-std:hover rect[stroke] {
  stroke: currentColor;
}

button,
.btn,
.btn-std {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--i10) var(--i16);
  border: var(--line-std);
  border-radius: var(--i4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.1s background-color linear, 0.1s color linear, 0.1s border-color linear, 0.3s width ease-in;
  -o-transition: 0.1s background-color linear, 0.1s color linear, 0.1s border-color linear, 0.3s width ease-in;
  transition: 0.1s background-color linear, 0.1s color linear, 0.1s border-color linear, 0.3s width ease-in;
  overflow: hidden;
  text-align: center;
}

button:before,
.btn:before,
.btn-std:before {
  content: "";
  background-color: var(--grey-5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
      -ms-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-filter: blur(0.125rem);
          filter: blur(0.125rem);
}

button path[fill-rule=evenodd],
.btn path[fill-rule=evenodd],
.btn-std path[fill-rule=evenodd] {
  -webkit-transition: 0.1s fill linear;
  -o-transition: 0.1s fill linear;
  transition: 0.1s fill linear;
  fill: currentColor;
}

button path:not([fill-rule=evenodd]),
button rect[stroke],
button circle[stroke],
.btn path:not([fill-rule=evenodd]),
.btn rect[stroke],
.btn circle[stroke],
.btn-std path:not([fill-rule=evenodd]),
.btn-std rect[stroke],
.btn-std circle[stroke] {
  -webkit-transition: 0.1s stroke linear;
  -o-transition: 0.1s stroke linear;
  transition: 0.1s stroke linear;
  stroke: currentColor;
}

button:hover,
.btn:hover,
.btn-std:hover {
  background-color: var(--main);
  color: var(--grey-5);
}

button:hover:before,
.btn:hover:before,
.btn-std:hover:before {
  left: calc(100% + 4.5em);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button:active,
.btn:active,
.btn-std:active {
  background-color: var(--deep-red);
  border-color: var(--deep-red);
  color: var(--grey-5);
}

.btn {
  background-color: var(--main);
  color: var(--grey-5);
}

.btn path[fill-rule=evenodd] {
  fill: var(--grey-5);
}

.btn path:not([fill-rule=evenodd]),
.btn rect[stroke],
.btn circle[stroke] {
  stroke: var(--grey-5);
}

.btn--sub {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.end-item .btn--sub {
  margin-left: auto;
}

.btn--lupa {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCAzOSA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNy44NzUgMzEuNjY2N0MyNS4wNTQ3IDMxLjY2NjcgMzAuODc1IDI1LjY5NzEgMzAuODc1IDE4LjMzMzNDMzAuODc1IDEwLjk2OTUgMjUuMDU0NyA1IDE3Ljg3NSA1QzEwLjY5NTMgNSA0Ljg3NSAxMC45Njk1IDQuODc1IDE4LjMzMzNDNC44NzUgMjUuNjk3MSAxMC42OTUzIDMxLjY2NjcgMTcuODc1IDMxLjY2NjdaIiBzdHJva2U9IiM5MjFBMUQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPg0KPHBhdGggZD0iTTM0LjEyNDkgMzVMMjcuMDU2MiAyNy43NSIgc3Ryb2tlPSIjOTIxQTFEIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjxwYXRoIGQ9Ik0xOC4yNTIgMTFWMThNMTguMjUyIDI1VjE4TTE4LjI1MiAxOEgyNS4zNU0xOC4yNTIgMThIMTEuNyIgc3Ryb2tlPSIjOTIxQTFEIi8+DQo8L3N2Zz4NCg==");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}

.btn--lupa:hover {
  background-color: var(--light);
}

a.btn {
  color: var(--grey-5);
}

a.btn:active,
a.btn:hover {
  color: var(--grey-5);
}

.btn-arrow {
  border: var(--line-std);
  border-radius: var(--i20);
  width: 2rem;
  height: 2rem;
  -webkit-transition: 0.3s width cubic-bezier(0.46, 0.03, 0.52, 0.96), 0.1s background-color linear;
  -o-transition: 0.3s width cubic-bezier(0.46, 0.03, 0.52, 0.96), 0.1s background-color linear;
  transition: 0.3s width cubic-bezier(0.46, 0.03, 0.52, 0.96), 0.1s background-color linear;
}

.btn-arrow::after {
  display: none;
}

.btn-arrow::after:hover {
  width: 0;
}

a.btn {
  color: var(--grey-5);
}

button,
.btn,
a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--i8);
}

button svg,
a svg {
  width: auto;
  height: 0.75rem;
}

.btn-inviz {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: var(--grey-50);
  border: none;
  padding: 0;
}

.btn-inviz svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  height: auto;
}

.btn-inviz:hover {
  background-color: transparent;
  color: var(--main);
}

.line-50 {
  border-color: var(--grey-50);
}

.line-50:hover,
.line-50:active {
  border-color: var(--main);
}

.radio-btn {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--i8) var(--i16) !important;
  margin: 0 !important;
  gap: 0.5rem;
  cursor: pointer;
}

.radio-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.radio-btn .name {
  width: 100%;
  text-align: center;
  color: var(--color);
}

.radio-btn .name:after {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--line-grey);
  border-radius: 0.25rem;
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.radio-btn path[fill],
.radio-btn circle[fill] {
  fill: var(--grey-25);
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.radio-btn path[stroke],
.radio-btn circle[stroke],
.radio-btn rect[stroke] {
  stroke: var(--grey-25);
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.radio-btn input:checked ~ .name:after,
.radio-btn:hover .name:after {
  border-color: var(--main);
}

.radio-btn input:checked ~ svg path[fill],
.radio-btn input:checked ~ svg circle[fill],
.radio-btn:hover svg path[fill],
.radio-btn:hover svg circle[fill] {
  fill: var(--main);
}

.radio-btn input:checked ~ svg path[stroke],
.radio-btn input:checked ~ svg circle[stroke],
.radio-btn input:checked ~ svg rect[stroke],
.radio-btn:hover svg path[stroke],
.radio-btn:hover svg circle[stroke],
.radio-btn:hover svg rect[stroke] {
  stroke: var(--main);
}