button[disabled] {
  background-color: var(--grey-25);
  border-color: var(--grey-25);
  color: var(--light);
  pointer-events: none;
}

button,
.btn-std {
  color: var(--color);
  background-color: transparent;
}

a.btn-std {
  color: var(--color);
}

a.btn-std:hover,
a.btn-std:active {
  color: var(--grey-5);
}

button,
.btn,
.btn-std {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--i10) var(--i16);
  border: var(--line-std);
  border-radius: var(--i4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.1s background-color linear, 0.1s color linear, 0.1s border-color linear, 0.3s width ease-in;
  -o-transition: 0.1s background-color linear, 0.1s color linear, 0.1s border-color linear, 0.3s width ease-in;
  transition: 0.1s background-color linear, 0.1s color linear, 0.1s border-color linear, 0.3s width ease-in;
  overflow: hidden;
  text-align: center;
}

button:before,
.btn:before,
.btn-std:before {
  content: "";
  background-color: var(--grey-5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
      -ms-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-filter: blur(0.125rem);
          filter: blur(0.125rem);
}

button path[fill-rule=evenodd],
.btn path[fill-rule=evenodd],
.btn-std path[fill-rule=evenodd] {
  -webkit-transition: 0.1s fill linear;
  -o-transition: 0.1s fill linear;
  transition: 0.1s fill linear;
  fill: currentColor;
}

button path:not([fill-rule=evenodd]),
button rect[stroke],
button circle[stroke],
.btn path:not([fill-rule=evenodd]),
.btn rect[stroke],
.btn circle[stroke],
.btn-std path:not([fill-rule=evenodd]),
.btn-std rect[stroke],
.btn-std circle[stroke] {
  -webkit-transition: 0.1s stroke linear;
  -o-transition: 0.1s stroke linear;
  transition: 0.1s stroke linear;
  stroke: currentColor;
}

button:hover,
.btn:hover,
.btn-std:hover {
  background-color: var(--main);
  color: var(--grey-5);
}

button:hover:before,
.btn:hover:before,
.btn-std:hover:before {
  left: calc(100% + 4.5em);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button:active,
.btn:active,
.btn-std:active {
  background-color: var(--deep-red);
  border-color: var(--deep-red);
  color: var(--grey-5);
}

.btn {
  background-color: var(--main);
  color: var(--grey-5);
}

.btn path[fill-rule=evenodd] {
  fill: var(--grey-5);
}

.btn path:not([fill-rule=evenodd]),
.btn rect[stroke],
.btn circle[stroke] {
  stroke: var(--grey-5);
}

a.btn {
  color: var(--grey-5);
}

a.btn:active,
a.btn:hover {
  color: var(--grey-5);
}

.btn-arrow {
  border: var(--line-std);
  border-radius: var(--i20);
  width: 2rem;
  height: 2rem;
  -webkit-transition: 0.3s width cubic-bezier(0.46, 0.03, 0.52, 0.96), 0.1s background-color linear;
  -o-transition: 0.3s width cubic-bezier(0.46, 0.03, 0.52, 0.96), 0.1s background-color linear;
  transition: 0.3s width cubic-bezier(0.46, 0.03, 0.52, 0.96), 0.1s background-color linear;
}

.btn-arrow::after {
  display: none;
}

.btn-arrow::after:hover {
  width: 0;
}

a.btn {
  color: var(--grey-5);
}

button,
.btn,
a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button svg,
a svg {
  width: auto;
  height: 0.75rem;
}

button svg:not(:only-child):first-child,
a svg:not(:only-child):first-child {
  margin-right: var(--i8);
}

button svg:not(:only-child):last-child,
a svg:not(:only-child):last-child {
  margin-left: var(--i16);
}