.select2-selection__rendered .select2-catalog-sort:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 100%;
  aspect-ratio: 1/1;
  border: var(--line-grey);
  background-color: inherit;
  border-radius: var(--i4) 0 0 var(--i4);
  border-right: none;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.select2-selection__rendered .select2-catalog-sort:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSI0IiB5PSI1IiB3aWR0aD0iNiIgaGVpZ2h0PSIxIiBmaWxsPSIjQzNDM0MzIj48L3JlY3Q+PHJlY3QgeD0iNCIgeT0iOCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEiIGZpbGw9IiNDM0MzQzMiPjwvcmVjdD48cmVjdCB4PSI0IiB5PSIxMSIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEiIGZpbGw9IiNDM0MzQzMiPjwvcmVjdD48cmVjdCB4PSI0IiB5PSIxNCIgd2lkdGg9IjE0IiBoZWlnaHQ9IjEiIGZpbGw9IiNDM0MzQzMiPjwvcmVjdD48cmVjdCB4PSI0IiB5PSIxNyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjEiIGZpbGw9IiNDM0MzQzMiPjwvcmVjdD48L3N2Zz4=);
}

body .select2-dropdown {
  z-index: 1;
}