@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }

  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}

@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }

  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes border-center-top {
  0% {
    background-position: center top;
  }

  100% {
    background-position: center top 1rem;
  }
}

@keyframes border-center-top {
  0% {
    background-position: center top;
  }

  100% {
    background-position: center top 1rem;
  }
}

@-webkit-keyframes border-center-bottom {
  0% {
    background-position: center bottom;
  }

  100% {
    background-position: center bottom 1rem;
  }
}

@keyframes border-center-bottom {
  0% {
    background-position: center bottom;
  }

  100% {
    background-position: center bottom 1rem;
  }
}

@-webkit-keyframes border-left-center {
  0% {
    background-position: left center;
  }

  100% {
    background-position: left 1rem center;
  }
}

@keyframes border-left-center {
  0% {
    background-position: left center;
  }

  100% {
    background-position: left 1rem center;
  }
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes counter-clockwise {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes counter-clockwise {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}