@charset "UTF-8";

/* Адаптив для больших экранов */

/* Адаптив для мобильных экранов */

@media (min-width: 1867px) {
  html {
    font-size: calc(100% + 0.2vw);
  }
}

@media (min-width: 2067px) {
  html {
    font-size: calc(100% + 0.4vw);
  }
}

@media (min-width: 3067px) {
  html {
    font-size: calc(100% + 0.6vw);
  }
}

@media (max-width: 1467px) {
  .main-header .mh-logo {
    margin-right: 0;
  }
}

@media (max-width: 1267px) {
  .main-header .mh-link {
    margin-right: 2vw;
  }
}

@media (max-width: 1167px) {
  .mh-logo {
    display: none;
  }

  .mh-mobile {
    display: block;
    min-width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 967px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mh-nav {
    position: absolute;
    top: 100%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: var(--light);
    padding: 1.5rem;
    min-height: 100vh;
    -webkit-transition: 0.3s right linear;
    -o-transition: 0.3s right linear;
    transition: 0.3s right linear;
  }

  .main-header .mh-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}