.no-webp .reg {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../img/reg.png);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/reg.png);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/reg.png); }

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
  padding: var(--i64) 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reg-tabs .reg-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: var(--base);
  line-height: 150%;
  text-align: center;
  border-color: var(--grey-25);
}

.reg-tabs .reg-tab:hover,
.reg-tabs .reg-tab:hover .subtitle {
  color: var(--light);
}

.reg-tabs .reg-tab:hover {
  border-color: var(--main);
}

.reg-tabs .reg-tab.reg-tab-active {
  border-color: var(--main);
}

.reg-tabs .reg-tab .subtitle {
  font-size: var(--f12);
  line-height: 120%;
  text-align: center;
  color: var(--grey-50);
  -webkit-transition: 0.1s color linear;
  -o-transition: 0.1s color linear;
  transition: 0.1s color linear;
}

.reg-tabs .reg-tabs-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--i16);
}

.reg-tabs .btn-submit {
  margin: var(--i16) auto;
}

.reg-tabs .btn-submit + .checkbox {
  margin: 0 auto;
}

.reg-tabs .reg-form-child > * {
  margin-top: var(--i8);
}

.reg-form-title {
  margin-bottom: var(--i8);
}

.reg-help {
  margin-bottom: var(--i24);
}

.reg-help .reg-name {
  text-align: center;
  margin-bottom: var(--i8);
}

.reg-help .reg-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--i16);
}

.reg-help .reg-link {
  height: 2rem;
  width: 2rem;
}

.reg-sub .reg-title {
  font-size: var(--f48);
  margin-bottom: 0.667em;
}

.reg-sub .rs-logo {
  height: 3.0625rem;
  margin-bottom: var(--i64);
}

.reg-sub .rs-logo svg {
  width: auto;
}

.reg .reg-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--i64);
}

.reg .reg-content .select2-container {
  width: 100% !important;
}

.reg-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reg-cart {
  width: 100%;
  padding: var(--i64);
  margin-right: 0;
}

.password-eye {
  position: absolute;
  min-height: 2.625rem;
  bottom: 0;
  right: 0;
  border: none;
}

.password-eye .icon-eye {
  height: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.password-eye .icon-eye svg {
  width: auto;
}

.reg-role {
  padding: var(--i64) 0;
}

.reg-role .container {
  max-width: 89.375rem;
}

.checktext .addinfo {
  top: 0;
}

.error-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 20.1875rem;
  width: 100%;
  background-color: var(--error);
  border-radius: var(--i4);
  gap: var(--i16);
  padding: var(--i8);
  margin: var(--i24) auto;
}

.error-reg .er-ava {
  min-width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.error-reg .er-txt small {
  display: block;
}

.login-body {
  text-align: center;
  max-width: 24rem;
  width: 100%;
  margin: 0 auto !important;
}

.login-body .btn-submit {
  margin: var(--i16) auto;
}

.login-body .list-link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--i8);
}

.reg-new-num {
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: var(--i16);
}

.reg-new-num .btn-close-group {
  top: auto;
  bottom: var(--i8);
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.reg-num .reg-child-title {
  color: var(--grey-50);
  margin-bottom: var(--i4);
}

.additional-info-btn {
  position: relative;
  margin-top: var(--i24);
}

.additional-info-btn .addinfo {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.zapros-cost-box {
  margin-top: var(--i16);
}

@media (max-width: 1067px) {
  .reg .reg-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .reg-cart {
    max-width: 36rem;
  }
}

@media (max-width: 767px) {
  .addinfo:hover .add-text {
    width: 75vw;
  }
}

@media (max-width: 567px) {
  .reg-new-num {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .reg-role .rr-title {
    font-size: var(--h2);
  }

  .reg-tabs .reg-tabs-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 467px) {
  .reg-role .container {
    padding: 0;
  }

  .reg .container {
    padding: 0;
  }

  .reg-sub,
  .reg-role .form-btns,
  .reg-role .rr-title {
    padding: 0 var(--container);
  }

  .reg-cart,
  .details-cart {
    padding: var(--i20) var(--container);
  }
}

.webp .reg { background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../img/reg.webp); background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/reg.webp); background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/reg.webp); }