.select-multiple {
  position: relative;
}

.select-multiple path:not([fill-rule=evenodd]),
.select-multiple rect[stroke],
.select-multiple circle[stroke] {
  stroke: currentColor;
}

.select-head {
  height: 2.625rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  cursor: pointer;
}

.select-head:after,
.select-group-title:after {
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

.select-head.select-open:after,
.select-group-title.select-open:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.select-current {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select-current:not(:empty) ~ .placeholder,
.select-current.select-current-result ~ .placeholder {
  bottom: calc(100% + 0.4375rem);
  left: 0;
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  font-size: 0.75rem;
  line-height: 120%;
}

.select-body {
  position: absolute;
  top: calc(100% + 1.5rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background: var(--light);
  border: var(--line-grey);
  border-radius: 0.25rem;
  padding: 1.5rem;
  width: 36.875rem;
  overflow: hidden;
}

.select-body svg {
  height: 1.5rem;
  width: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.select-body .search {
  font-size: 0.75rem;
}

.select-body .btn-filter:not(:hover, :active) {
  color: var(--grey-25);
}

.select-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.select-footer:after {
  content: "";
  background: var(--grey-5);
  -webkit-box-shadow: 0 -0.375rem 1.25rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 -0.375rem 1.25rem rgba(0, 0, 0, 0.15);
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  width: calc(100% + 5rem);
  height: calc(100% + 2rem);
}

.select-group-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  background: var(--light);
  border-bottom: var(--line-grey);
  color: var(--grey-50);
  cursor: pointer;
  -webkit-transition: color 0.1s linear, border-color 0.1s linear;
  -o-transition: color 0.1s linear, border-color 0.1s linear;
  transition: color 0.1s linear, border-color 0.1s linear;
}

.select-group-title:hover,
.select-group-title.select-open {
  border-color: var(--main);
  color: var(--main);
}

.select-group-title.select-open ~ .select-group-items {
  display: block;
}

.select-group-items {
  display: none;
}

.select-name {
  color: var(--color);
}

.select-options {
  max-height: 27.5rem;
  padding-right: 1rem;
  overflow-y: auto;
}

.select-group .select-group {
  padding-left: 1.5rem;
}

.select-group .checkbox {
  padding: 0.625rem 1.125rem 1.25rem;
  margin: 0;
  z-index: 1;
}

.select-group .checkbox .checktext {
  line-height: 120%;
}

.select-group .checkbox .checktext::before {
  left: 1.5rem;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.select-group input[type=checkbox]:checked + .checktext::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--grey-10);
  z-index: -1;
}

.select-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--grey-10);
  border-radius: 0.25rem;
  padding: 0.625rem;
}

.select-tag-name {
  font-size: 0.75rem;
  line-height: 120%;
}

.btn-select-tag-close {
  border: none;
  background: transparent !important;
  padding: 0;
  font-size: 0.75rem;
  color: var(--main);
}

.btn-select-tag-close:hover {
  color: currentColor;
}

.select-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: var(--line-grey-10);
}

.select2 {
  background-color: var(--light);
}

.select2-container--default .select2-selection--single {
  border: none;
  background-color: transparent;
  height: 1.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 0.875rem;
  height: 0.4375rem;
  padding: 0;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:after {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(135deg);
      -ms-transform: translateX(-50%) rotate(135deg);
          transform: translateX(-50%) rotate(135deg);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 150%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:after,
.select-head:after,
.select-group-title:after {
  content: "";
  position: absolute;
  width: 0.6187184335rem;
  aspect-ratio: 1;
  border-top: var(--line-std);
  border-right: var(--line-std);
  -webkit-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.select2-container--open .select2-selection--single .select2-selection__arrow:after {
  top: 0;
  bottom: auto;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.select2-results__option--highlighted {
  background-color: var(--main) !important;
}

.select2-results__option {
  margin: 0;
  padding: 0.25rem 1rem;
}

body .sorting-method .select2,
body .sorting-method select {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
  width: 100% !important;
}