.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  margin-top: calc(0 - var(--i16));
  padding: 0 var(--i16);
}

.slider:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider--photo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 25rem;
  width: 100%;
  gap: 0.5rem;
}

.slider--photo .slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.25rem;
}

.slider--photo .slide,
.slider--photo .view {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}

.slider--photo .slide {
  width: 2rem;
  height: 2rem;
  border: var(--line-grey);
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all;
}

.slider--photo .slide.active {
  pointer-events: none;
  border-color: var(--main);
}

.slider--photo .slide:hover {
  border-color: var(--main);
}

.slider--photo .view {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border: var(--line-grey-10);
  border-radius: 0.25rem;
}

.slider--photo .view .btn--lupa {
  position: absolute;
  right: var(--i20);
  bottom: var(--i20);
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: var(--i16);
}

.slider-btn {
  padding: var(--i10) var(--i12) var(--i10) var(--i14);
  border-color: var(--grey-25);
  border-radius: 50%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: var(--main);
}

.slider-btn svg {
  margin: 0 !important;
}

.slider-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: var(--i8);
}

.slider-nav .btn-left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: var(--m-cart);
}

@media (max-width: 767px) {
  .slider-track {
    padding-top: 0;
  }

  .slider {
    padding: 0;
  }
}