@charset "UTF-8";

.status-ok {
  position: relative;
  display: block;
}

.status-ok::before {
  content: "Подтверждено";
  color: var(--ok);
}

.status-responded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.625rem;
  gap: 0.5rem;
  background-color: var(--grey-10);
  border-radius: 0.25rem;
  line-height: 120%;
  color: var(--grey-75);
}

.status-responded svg {
  height: 1.5rem;
  width: auto;
}

.status-responded path[stroke],
.status-responded rect[stroke] {
  stroke: var(--ok);
}