@charset "UTF-8";

hr {
  border: none;
  background-color: var(--grey-25);
  min-height: 0.0625rem;
  max-height: 0.0625rem;
  height: 0.0625rem;
  width: 100%;
  margin: 1.5rem auto;
}

.lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.lk > :nth-child(2) {
  width: 100%;
}

.menu-bar {
  position: sticky;
  top: 0;
  left: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 16.5rem;
  max-width: 16.5rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.25rem 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--grey-5);
}

.menu-bar hr {
  width: calc(100% - var(--p-munu-bar) * 2);
  margin: 1rem auto;
}

.menu-bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.element-end {
  margin-top: auto;
}

.mb-header {
  margin-bottom: 1rem;
  padding: 0 var(--p-munu-bar);
}

.persone-rating svg {
  max-width: 8.375rem;
  width: 100%;
  display: block;
  margin: 1rem 0 0.5rem;
}

.persone-rating-subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--grey-75);
}

.persone-rating-subtitle small {
  font-size: 1rem;
}

.persone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1rem;
}

.avatar {
  width: 4rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--grey-25);
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.avatar::after {
  display: none;
}

.temporary-avatar {
  color: var(--light);
  font-weight: 600;
  font-size: 1.5rem;
}

.persone-name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
}

.pli-link {
  padding: 0.5rem var(--p-munu-bar);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  -webkit-transition: 0.1s background-color linear;
  -o-transition: 0.1s background-color linear;
  transition: 0.1s background-color linear;
}

.pli-link:after {
  display: none;
}

.pli-link .pli-text {
  line-height: 150%;
  color: var(--grey-75);
}

.pli-link svg {
  min-width: 1.5rem;
  width: 1.5rem;
  height: auto;
}

.pli-link svg path[fill-rule=evenodd] {
  fill: var(--grey-75);
}

.pli-link svg path:not([fill-rule=evenodd]),
.pli-link svg rect[stroke],
.pli-link svg circle[stroke] {
  stroke: var(--grey-75);
}

.pli-link:hover,
.pli-active {
  background-color: var(--light);
}

.pli-link:hover .pli-text,
.pli-active .pli-text {
  color: var(--main);
}

.pli-link:hover svg path[fill-rule=evenodd],
.pli-active svg path[fill-rule=evenodd] {
  fill: var(--main);
}

.pli-link:hover svg path:not([fill-rule=evenodd]),
.pli-link:hover svg rect[stroke],
.pli-link:hover svg circle[stroke],
.pli-active svg path:not([fill-rule=evenodd]),
.pli-active svg rect[stroke],
.pli-active svg circle[stroke] {
  stroke: var(--main);
}

.pli-link:active {
  background-color: var(--main);
}

.pli-link:active .pli-text {
  color: var(--light);
}

.pli-link:active svg path[fill-rule=evenodd] {
  fill: var(--light);
}

.pli-link:active svg path:not([fill-rule=evenodd]),
.pli-link:active svg rect[stroke],
.pli-link:active svg circle[stroke] {
  stroke: var(--light);
}

.persone-links-important .pli-text {
  font-size: 1rem;
}

.persone-links-not-important .pli-text {
  font-size: 0.75rem;
  line-height: 120%;
}

.persone-links-not-important .pli-link {
  padding: 0.3125rem var(--p-munu-bar);
}

.tablet {
  margin: 1.25rem 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tablet .tablet-container {
  width: 100%;
}

.confirm-your-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background: var(--light);
  border: var(--line-std);
  border-radius: 0.25rem;
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1.25rem;
}

.confirm-your-email svg {
  min-width: 3.375rem;
  width: 3.375rem;
  aspect-ratio: 1;
}

.confirm-your-email .cye-title {
  margin-bottom: 0.5rem;
}

.confirm-your-email .cye-link {
  margin-top: auto;
  margin-left: auto;
  color: var(--main);
}

.confirm-your-email .cye-link:hover {
  color: var(--stop);
}

.confirm-your-email .cye-link:active {
  color: var(--color);
}

.grey-75 {
  color: var(--grey-75);
}

.grey-50 {
  color: var(--grey-50);
}

.grey-25 {
  color: var(--grey-25);
}

.grey-10 {
  color: var(--grey-10);
}

.grey-5 {
  color: var(--grey-5);
}

.moderation-txt,
.not-moderation-txt {
  line-height: 120%;
}

.not-moderation-txt {
  color: var(--main);
  margin-top: 0.5rem;
}

.element-bar {
  width: 100%;
  padding: 0 var(--p-munu-bar);
  margin-bottom: 1.5rem;
}

.element-bar > * {
  width: 100%;
}

.education-block {
  max-width: 22.75rem;
  width: 100%;
}

.typical-cart {
  padding: 2rem;
  margin: 0;
}

.typical-cart .btn-tag-more {
  font-size: 1rem;
}

.persone-mini-help {
  margin: 2rem 0 1.5rem;
  gap: 4rem;
}

.persone-mini-help .catalog-rating {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn-cart {
  border: none;
  padding: 0;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: var(--grey-50);
}

.btn-cart svg {
  height: 1.5rem;
}

.btn-cart::before {
  display: none;
}

.btn-cart:hover {
  background-color: transparent;
  color: var(--color);
}

.btn-cart:hover path[fill-rule=evenodd] {
  fill: var(--main);
}

.btn-cart:hover path:not([fill-rule=evenodd]),
.btn-cart:hover rect[stroke],
.btn-cart:hover circle[stroke] {
  stroke: var(--main);
}

.btn-cart:active {
  background-color: transparent;
  color: var(--main);
}

a.btn-cart {
  color: var(--grey-50);
}

a.btn-cart svg {
  height: 1.5rem;
}

a.btn-cart::after {
  display: none;
}

a.btn-cart:hover {
  background-color: transparent;
  color: var(--color);
}

a.btn-cart:hover path[fill-rule=evenodd] {
  fill: var(--main);
}

a.btn-cart:hover path:not([fill-rule=evenodd]),
a.btn-cart:hover rect[stroke],
a.btn-cart:hover circle[stroke] {
  stroke: var(--main);
}

a.btn-cart:active {
  background-color: transparent;
  color: var(--main);
}

.cart-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.5rem;
  margin-top: auto;
}

.btn-post-cart {
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
}

.cart-post-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  gap: 0.5rem;
}

.cart-post-btn .cart-persone {
  margin-right: 0;
  margin-bottom: 1rem;
}

.cart-post-btn .pazzle-left ~ div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.cart-post-btn .pazzle-left ~ div > :last-child {
  margin-top: auto;
}

.rating-area {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  float: right;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 2rem;
  line-height: 100%;
  color: var(--grey-50);
}

.rating-area:not(:checked) > label:before {
  content: "★";
  margin-right: 0.25rem;
}

.rating-area:not(:checked) > label:before:last-child {
  margin-right: 0;
}

.rating-area:not(:checked) > label:hover {
  color: var(--main);
}

.rating-area:not(:checked) > label:hover ~ label {
  color: var(--main);
}

.rating-area > input:checked ~ label {
  color: var(--main);
}

.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label {
  color: var(--main);
}

.rating-area label {
  -webkit-transition: 0.1s -webkit-transform linear;
  transition: 0.1s -webkit-transform linear;
  -o-transition: 0.1s transform linear;
  transition: 0.1s transform linear;
  transition: 0.1s transform linear, 0.1s -webkit-transform linear;
}

.rating-area > label:active,
.rating-area > label:active ~ label {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.text-center {
  text-align: center;
}

.fi-title {
  margin-bottom: 0.5rem;
}