@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scrollbar-gutter: stable;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  background-color: var(--grey-5);
  color: var(--color);
  overflow-x: hidden;
}

section [id],
article [id],
div [id] {
  scroll-margin-top: var(--mh);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
.fake-h1,
h2,
.fake-h2,
h3,
.fake-h3,
h4,
.fake-h4,
h5,
.fake-h5,
.name-card,
small,
a,
button {
  line-height: 120%;
}

h2,
.fake-h2,
h3,
.fake-h3,
h5,
.fake-h5 {
  font-weight: 600;
}

h1,
.fake-h1 {
  font-weight: 700;
  font-size: var(--h1);
  margin-bottom: var(--i32);
}

h2,
.fake-h2 {
  font-size: var(--h2);
  margin-bottom: var(--i24);
}

h3,
.fake-h3,
.h3-regular {
  font-size: var(--h3);
  margin-bottom: var(--i24);
}

.h3-regular,
h4,
.fake-h4 {
  font-weight: 400;
}

h4,
.fake-h4 {
  font-size: var(--h4);
  margin-bottom: var(--i8);
}

h5,
.fake-h5 {
  font-size: var(--h5);
  margin-bottom: var(--i16);
}

svg,
img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

table {
  width: 100%;
}

.grey-25 {
  font-weight: 600;
}

small {
  font-weight: 400;
  font-size: var(--f12);
}

p:empty {
  width: 0;
  display: none;
}

p a {
  display: initial;
  color: var(--main);
}

p a:hover {
  color: var(--color);
}

a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  -webkit-transition: 0.1s color linear;
  -o-transition: 0.1s color linear;
  transition: 0.1s color linear;
  color: var(--color);
  position: relative;
}

a:after {
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: currentColor;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transition: 0.3s width ease-in;
  -o-transition: 0.3s width ease-in;
  transition: 0.3s width ease-in;
}

a:not(.stop-hover-link) path[fill-rule=evenodd] {
  fill: currentColor;
}

a:not(.stop-hover-link) path:not([fill-rule=evenodd]),
a:not(.stop-hover-link) rect[stroke],
a:not(.stop-hover-link) circle[stroke] {
  stroke: currentColor;
}

a:hover {
  color: var(--main);
}

a:hover:after {
  width: 100%;
  left: 0;
}

select[multiple] + .select2 {
  padding: 0;
}

select[multiple] + .select2 .select2-selection--multiple {
  padding: var(--i8) var(--i16);
  border: none !important;
}

select[multiple] + .select2 .select2-selection--multiple .select2-selection__rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0;
  gap: var(--i8);
}

select[multiple] + .select2 .select2-selection--multiple .select2-selection__choice {
  margin: 0 !important;
}

input,
select {
  height: 2.625rem;
}

input,
textarea,
select,
.select2,
.select-head {
  max-width: 100%;
  width: 100%;
  display: block;
  font-size: var(--base);
  color: var(--color);
  border: var(--line-grey);
  border-radius: var(--i4);
}

input,
textarea,
select,
.select2 {
  padding: var(--i8) var(--i16);
}

input[disabled],
textarea[disabled],
select[disabled],
.select2[disabled] {
  background-color: var(--grey-10) !important;
  border-color: var(--grey-10) !important;
  color: var(--grey-50) !important;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
[contenteditable]:focus-visible {
  outline: none;
}

input[type=number]:out-of-range {
  background-color: rgba(146, 26, 29, 0.5) !important;
  border-color: var(--stop) !important;
}

textarea {
  height: 8.75rem;
  width: 100%;
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select:not([multiple]) {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 1rem);
  background-size: 1rem auto;
  background-image: url("../svg/art/arrow.svg");
  padding-right: var(--i40);
}

select:focus-visible {
  background-image: url("../svg/art/arrow-up.svg");
}

select :checked {
  background-color: var(--grey-10);
}

select:focus-within {
  background-color: var(--light);
}

address {
  font-style: normal;
}

label:not(for):not(.checkbox),
.label-for-not,
.select-head {
  position: relative;
  display: block;
}

label:not(for):not(.checkbox) .placeholder,
.label-for-not .placeholder,
.select-head .placeholder {
  position: absolute;
  left: 0.625rem;
  color: var(--grey-50);
  font-weight: 400;
  font-size: var(--base);
  line-height: 150%;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  pointer-events: none;
}

label:not(for):not(.checkbox) .placeholder,
.label-for-not .placeholder {
  top: calc(var(--i18) + var(--base) / 2);
}

label:not(for):not(.checkbox),
.label-for-not {
  padding-top: var(--i18);
  margin-top: var(--i8);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

label:not(for):not(.checkbox):first-child,
.label-for-not:first-child {
  margin-top: 0;
}

label:not(for):not(.checkbox) input:not([type=checkbox]),
label:not(for):not(.checkbox) textarea,
.label-for-not input:not([type=checkbox]),
.label-for-not textarea {
  background-color: transparent;
}

label:not(for):not(.checkbox) input:not([type=checkbox]):not(:-moz-placeholder-shown), label:not(for):not(.checkbox) textarea:not(:-moz-placeholder-shown), .label-for-not input:not([type=checkbox]):not(:-moz-placeholder-shown), .label-for-not textarea:not(:-moz-placeholder-shown) {
  border-color: var(--grey-25);
}

label:not(for):not(.checkbox) input:not([type=checkbox]):not(:-ms-input-placeholder), label:not(for):not(.checkbox) textarea:not(:-ms-input-placeholder), .label-for-not input:not([type=checkbox]):not(:-ms-input-placeholder), .label-for-not textarea:not(:-ms-input-placeholder) {
  border-color: var(--grey-25);
}

label:not(for):not(.checkbox) input:not([type=checkbox]):not(:placeholder-shown),
label:not(for):not(.checkbox) textarea:not(:placeholder-shown),
.label-for-not input:not([type=checkbox]):not(:placeholder-shown),
.label-for-not textarea:not(:placeholder-shown) {
  border-color: var(--grey-25);
}

label:not(for):not(.checkbox) input:not([type=checkbox]):focus,
label:not(for):not(.checkbox) textarea:focus,
.label-for-not input:not([type=checkbox]):focus,
.label-for-not textarea:focus {
  border-color: var(--deep-red);
}

label:not(for):not(.checkbox) input:not([type=checkbox]):focus + .placeholder,
label:not(for):not(.checkbox) input:not([type=checkbox]):focus + .important:after,
label:not(for):not(.checkbox) textarea:focus + .placeholder,
label:not(for):not(.checkbox) textarea:focus + .important:after,
.label-for-not input:not([type=checkbox]):focus + .placeholder,
.label-for-not input:not([type=checkbox]):focus + .important:after,
.label-for-not textarea:focus + .placeholder,
.label-for-not textarea:focus + .important:after {
  color: var(--deep-red);
}

label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:-moz-placeholder-shown), label:not(for):not(.checkbox) textarea[disabled]:not(:-moz-placeholder-shown), .label-for-not input:not([type=checkbox])[disabled]:not(:-moz-placeholder-shown), .label-for-not textarea[disabled]:not(:-moz-placeholder-shown) {
  color: var(--grey-50);
  border-color: var(--grey-10);
}

label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:-ms-input-placeholder), label:not(for):not(.checkbox) textarea[disabled]:not(:-ms-input-placeholder), .label-for-not input:not([type=checkbox])[disabled]:not(:-ms-input-placeholder), .label-for-not textarea[disabled]:not(:-ms-input-placeholder) {
  color: var(--grey-50);
  border-color: var(--grey-10);
}

label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:placeholder-shown),
label:not(for):not(.checkbox) textarea[disabled]:not(:placeholder-shown),
.label-for-not input:not([type=checkbox])[disabled]:not(:placeholder-shown),
.label-for-not textarea[disabled]:not(:placeholder-shown) {
  color: var(--grey-50);
  border-color: var(--grey-10);
}

label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:-moz-placeholder-shown) + .placeholder, label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:-moz-placeholder-shown) + .important:after, label:not(for):not(.checkbox) textarea[disabled]:not(:-moz-placeholder-shown) + .placeholder, label:not(for):not(.checkbox) textarea[disabled]:not(:-moz-placeholder-shown) + .important:after, .label-for-not input:not([type=checkbox])[disabled]:not(:-moz-placeholder-shown) + .placeholder, .label-for-not input:not([type=checkbox])[disabled]:not(:-moz-placeholder-shown) + .important:after, .label-for-not textarea[disabled]:not(:-moz-placeholder-shown) + .placeholder, .label-for-not textarea[disabled]:not(:-moz-placeholder-shown) + .important:after {
  color: var(--grey-50);
}

label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:-ms-input-placeholder) + .placeholder, label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:-ms-input-placeholder) + .important:after, label:not(for):not(.checkbox) textarea[disabled]:not(:-ms-input-placeholder) + .placeholder, label:not(for):not(.checkbox) textarea[disabled]:not(:-ms-input-placeholder) + .important:after, .label-for-not input:not([type=checkbox])[disabled]:not(:-ms-input-placeholder) + .placeholder, .label-for-not input:not([type=checkbox])[disabled]:not(:-ms-input-placeholder) + .important:after, .label-for-not textarea[disabled]:not(:-ms-input-placeholder) + .placeholder, .label-for-not textarea[disabled]:not(:-ms-input-placeholder) + .important:after {
  color: var(--grey-50);
}

label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:placeholder-shown) + .placeholder,
label:not(for):not(.checkbox) input:not([type=checkbox])[disabled]:not(:placeholder-shown) + .important:after,
label:not(for):not(.checkbox) textarea[disabled]:not(:placeholder-shown) + .placeholder,
label:not(for):not(.checkbox) textarea[disabled]:not(:placeholder-shown) + .important:after,
.label-for-not input:not([type=checkbox])[disabled]:not(:placeholder-shown) + .placeholder,
.label-for-not input:not([type=checkbox])[disabled]:not(:placeholder-shown) + .important:after,
.label-for-not textarea[disabled]:not(:placeholder-shown) + .placeholder,
.label-for-not textarea[disabled]:not(:placeholder-shown) + .important:after {
  color: var(--grey-50);
}

@supports not (selector(:has())) {
  label:not(for):not(.checkbox) input[required] ~ .placeholder::after,
  label:not(for):not(.checkbox) textarea[required] ~ .placeholder::after,
  label:not(for):not(.checkbox) select[required] ~ .placeholder::after,
  label:not(for):not(.checkbox) .required ~ .placeholder::after,
  .label-for-not input[required] ~ .placeholder::after,
  .label-for-not textarea[required] ~ .placeholder::after,
  .label-for-not select[required] ~ .placeholder::after,
  .label-for-not .required ~ .placeholder::after {
    content: "*";
    color: var(--main);
    margin-left: var(--i4);
  }

  label:not(for):not(.checkbox) input:not([type=checkbox]):not(:-moz-placeholder-shown) + .placeholder, label:not(for):not(.checkbox) textarea:not([type=checkbox]):not(:-moz-placeholder-shown) + .placeholder, .label-for-not input:not([type=checkbox]):not(:-moz-placeholder-shown) + .placeholder, .label-for-not textarea:not([type=checkbox]):not(:-moz-placeholder-shown) + .placeholder {
    top: 0;
    left: 0;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: var(--f12);
    line-height: 120%;
  }

  label:not(for):not(.checkbox) input:not([type=checkbox]):not(:-ms-input-placeholder) + .placeholder, label:not(for):not(.checkbox) textarea:not([type=checkbox]):not(:-ms-input-placeholder) + .placeholder, .label-for-not input:not([type=checkbox]):not(:-ms-input-placeholder) + .placeholder, .label-for-not textarea:not([type=checkbox]):not(:-ms-input-placeholder) + .placeholder {
    top: 0;
    left: 0;
    min-width: max-content;
    font-size: var(--f12);
    line-height: 120%;
  }

  label:not(for):not(.checkbox).done + .placeholder,
  label:not(for):not(.checkbox) input:not([type=checkbox]):focus + .placeholder,
  label:not(for):not(.checkbox) input:not([type=checkbox]):not(:placeholder-shown) + .placeholder,
  label:not(for):not(.checkbox) textarea:not([type=checkbox]):focus + .placeholder,
  label:not(for):not(.checkbox) textarea:not([type=checkbox]):not(:placeholder-shown) + .placeholder,
  label:not(for):not(.checkbox) select:focus-within + .placeholder,
  label:not(for):not(.checkbox) .selected + .placeholder,
  label:not(for):not(.checkbox) .select2-container--open + .placeholder,
  label:not(for):not(.checkbox) .select2-container--below + .placeholder,
  label:not(for):not(.checkbox) .select2-container--above + .placeholder,
  .label-for-not.done + .placeholder,
  .label-for-not input:not([type=checkbox]):focus + .placeholder,
  .label-for-not input:not([type=checkbox]):not(:placeholder-shown) + .placeholder,
  .label-for-not textarea:not([type=checkbox]):focus + .placeholder,
  .label-for-not textarea:not([type=checkbox]):not(:placeholder-shown) + .placeholder,
  .label-for-not select:focus-within + .placeholder,
  .label-for-not .selected + .placeholder,
  .label-for-not .select2-container--open + .placeholder,
  .label-for-not .select2-container--below + .placeholder,
  .label-for-not .select2-container--above + .placeholder {
    top: 0;
    left: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: var(--f12);
    line-height: 120%;
  }
}

@supports (selector(:has(input, textarea, select, option))) {
  label:not(for):not(.checkbox):has(input[required], textarea[required], select[required], .required) .placeholder::after,
  .label-for-not:has(input[required], textarea[required], select[required], .required) .placeholder::after {
    content: "*";
    color: var(--main);
    margin-left: var(--i4);
  }

  label:not(for):not(.checkbox):has(input:not([type=checkbox]):focus,
  input:not([type=checkbox]):not(:-moz-placeholder-shown),
  textarea:focus,
  textarea:not(:-moz-placeholder-shown),
  select:focus-within,
  option[selected]:not(:checked),
  .select2-container--open,
  .select2-selection__rendered[title]) .placeholder, .label-for-not:has(input:not([type=checkbox]):focus,
  input:not([type=checkbox]):not(:-moz-placeholder-shown),
  textarea:focus,
  textarea:not(:-moz-placeholder-shown),
  select:focus-within,
  option[selected]:not(:checked),
  .select2-container--open,
  .select2-selection__rendered[title]) .placeholder {
    top: 0;
    left: 0;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: var(--f12);
    line-height: 120%;
  }

  label:not(for):not(.checkbox):has(input:not([type=checkbox]):focus,
  input:not([type=checkbox]):not(:-ms-input-placeholder),
  textarea:focus,
  textarea:not(:-ms-input-placeholder),
  select:focus-within,
  option[selected]:not(:checked),
  .select2-container--open,
  .select2-selection__rendered[title]) .placeholder, .label-for-not:has(input:not([type=checkbox]):focus,
  input:not([type=checkbox]):not(:-ms-input-placeholder),
  textarea:focus,
  textarea:not(:-ms-input-placeholder),
  select:focus-within,
  option[selected]:not(:checked),
  .select2-container--open,
  .select2-selection__rendered[title]) .placeholder {
    top: 0;
    left: 0;
    min-width: max-content;
    font-size: var(--f12);
    line-height: 120%;
  }

  label:not(for):not(.checkbox).done .placeholder,
  label:not(for):not(.checkbox):has(input:not([type=checkbox]):focus,
  input:not([type=checkbox]):not(:placeholder-shown),
  textarea:focus,
  textarea:not(:placeholder-shown),
  select:focus-within,
  option[selected]:not(:checked),
  .select2-container--open,
  .select2-selection__rendered[title]) .placeholder,
  .label-for-not.done .placeholder,
  .label-for-not:has(input:not([type=checkbox]):focus,
  input:not([type=checkbox]):not(:placeholder-shown),
  textarea:focus,
  textarea:not(:placeholder-shown),
  select:focus-within,
  option[selected]:not(:checked),
  .select2-container--open,
  .select2-selection__rendered[title]) .placeholder {
    top: 0;
    left: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: var(--f12);
    line-height: 120%;
  }
}

.select-head {
  margin-top: 1.625rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul,
ol {
  padding-left: var(--i16);
  margin: var(--i16) 0;
}

ul ::marker,
ol ::marker {
  color: var(--main);
}

ul[class*=grid-],
ol[class*=grid-] {
  gap: var(--i16) var(--i20);
}

ul[class*=grid-] li,
ol[class*=grid-] li {
  margin-bottom: 0;
}

li {
  margin-bottom: var(--i16);
}

li:last-child {
  margin-bottom: 0;
}

main {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Адаптив для больших экранов */

.tag-inviz {
  font-size: 0.75rem;
  line-height: 120%;
  padding: 0.625rem;
  border-radius: 0.25rem;
  border: var(--line-grey);
  margin-bottom: 0 !important;
}

@media (min-width: 967px) {
  body {
    --mh: 133px;
  }
}

@media (min-width: 1867px) {
  html {
    font-size: calc(100% + 0.2vw);
  }
}

@media (min-width: 2067px) {
  html {
    font-size: calc(100% + 0.4vw);
  }
}

@media (min-width: 3067px) {
  html {
    font-size: calc(100% + 0.6vw);
  }
}